table {
  border-collapse: collapse;
  empty-cells: show;
  width: 100%;
  font-family: sans-serif;
  font-size: 0.9em;
}

th, td {
  border: 0.1em solid #2c3e50;
  padding: 0.3em 0.5em;
  text-align: left;
}

th {
  background-color: #34495e;
  color: white;
  border-color: #34495e;
}

td {
  background-color: #f8f9fa;
}